<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{!-- <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet"> --}}
{{!-- <link href="/stylesheets/bootstrap.flatly.min.css" rel="stylesheet" type="text/css" /> --}}
{{!-- <link href="/css/wonder.css" rel="stylesheet" type="text/css" /> --}}
</head>

<body>
    {{{body}}}
</body>
</html>
