<div id="main">
<button id="btnPublish">Send Message</button>
<div id="msg"></div>
</div>

<script type="text/javascript" src="/js/mqtt.js"></script>
<script type="text/javascript" src="/js/wonder.js"></script>